<!DOCTYPE html>
<html>
<head>
	<title>this is the title</title>
</head>
<body>
	<h1>Enter Number of Items</h1>
	<form action="/" method="POST">
		<input type="text" name="itemsbox" placeholder="Enter items">
		<button>Check If Enough...</button>		
	</form>

</body>
</html>